.button {
  font-family: inherit;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* Variants */
.primary {
  background-color: var(--btn-bg-color);
  color: var(--btn-font-color);
}
.primary:hover {
  background-color: var(--btn-bg-color-hover);
}

.secondary {
  background-color: #e5e5e5;
  color: black;
}
.secondary:hover {
  background-color: #d5d5d5;
}

.danger {
  background-color: #f54848;
  color: white;
}
.danger:hover {
  background-color: #d63c3c;
}
