
.table-container {
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid var(--table-border-color);
  margin: 10px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: var(--table-bg-color);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--table-border-color);
}

.table tr {
  transition: 0.3s background;
}

.table th {
  background-color: var(--table-th-bg-color);
  color: var(--table-th-font-color);
  text-transform: uppercase;
  font-weight: 600;
}

.table tr:hover {
  background-color: var(--table-row-hover);
  color: var(--table-row-font-hover);
}

.table tr {
  cursor: pointer;
  color: var(--table-rows-font-color);
}

.in {
  color: var(--table-transaction-in);
  font-weight: bold;
  text-transform: uppercase;
}

.out {
  color: var(--table-transaction-out);
  font-weight: bold;
  text-transform: uppercase;
}

.empty-row {
  text-align: center;
  padding: 1rem;
  color: var(--table-emptyrow-font-color);
}
