.table-container {
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin: 10px 0;

}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background-color: white;

}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f5f5f5;
  color: #818181;
  text-transform: uppercase;
  font-weight: 600;
}

.table tr:hover {
  background-color: #f9f9f9;
}

.table tr {
  cursor: pointer;
}

.in {
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

.out {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.empty-row {
  text-align: center;
  padding: 1rem;
  color: #888;
}
