@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root[data-theme="light"] {
  --btn-bg-color: #468be5;
  --btn-bg-color-hover: #3877ca;
  --btn-font-color: white;

  --card-border-radius: 0.5rem;
  --card-bg: #fff;
  --card-bg-hover: #ececec8a;
  --card-icon-color: #5f5f5f;
  --card-icon-bg: #e5e5e5;
  --card-title-color: #555;
  --card-value-color: black;

  --sidebar-bg-color: rgb(248, 248, 248);
  --sidebar-icons-color: #2b2b2b;
  --sidebar-active-bg-color: rgba(66, 133, 244, 0.1);
  --sidebar-active-font-color: #4285f4;
  --sidebar-icon-size: 20px;

  --table-border-color: #e0e0e0;
  --table-bg-color: white;
  --table-th-font-color: #818181;
  --table-th-bg-color: #f5f5f5;
  --table-th-bg-color-hover: #f5f5f5;
  --table-rows-font-color: black;
  --table-emptyrow-font-color: #888;
  --table-transaction-in: green;
  --table-transaction-out: red;
  --table-row-hover: rgb(238, 238, 238);
  --table-row-hover-font: rgb(0, 0, 0);


  --filter-border: #ccc;
  --filter-bg: #fcfcfc;
  --filter-apply-btn-bg: #3b82f6;
  --filter-apply-btn-color: white;
  --filter-apply-btn-hover: #2563eb;
  --filter-color: rgb(0, 0, 0);


  --topbar-bg: #fff;
  --topbar-title: black;

  --bg-color: white;
  --font-color: black;

  --header-color: #868686;

  --submit-btn-bg-color: #007bff;
  --submit-btn-font-color: white;
  --cancel-btn-bg-color: #f54848;
  --form-border: 1px solid rgba(128, 128, 128, 0.212);
  --select-bg-color: white;
}

:root[data-theme="dark"] {
  --btn-bg-color: #2c6ecb;
  --btn-bg-color-hover: #1e5aa5;
  --btn-font-color: white;

  --card-border-radius: 0.5rem;
  --card-bg: #1e1e1e;
  --card-bg-hover: #2a2a2a;
  --card-icon-color: #c0c0c0;
  --card-icon-bg: #333;
  --card-title-color: #ccc;
  --card-value-color: white;

  --sidebar-bg-color: #181818;
  --sidebar-icons-color: #ccc;
  --sidebar-active-bg-color: rgba(66, 133, 244, 0.2);
  --sidebar-active-font-color: #82b1ff;
  --sidebar-icon-size: 20px;

  --table-border-color: #333;
  --table-bg-color: #1e1e1e;
  --table-th-font-color: #bbb;
  --table-th-bg-color: #2a2a2a;
  --table-th-bg-color-hover: #2f2f2f;
  --table-rows-font-color: white;
  --table-emptyrow-font-color: #888;
  --table-transaction-in: #4caf50;
  --table-transaction-out: #f44336;
  --table-row-hover: rgb(58, 58, 58);
  --table-row-hover-font: rgb(158, 158, 158);


  --filter-border: #444;
  --filter-bg: #2a2a2a;
  --filter-apply-btn-bg: #2563eb;
  --filter-apply-btn-color: white;
  --filter-apply-btn-hover: #1e4fb5;
  --filter-color: white;

  --topbar-bg: #1e1e1e;
  --topbar-title: white;

  --font: "Intel One Mono", monospace;
  --bg-color: #121212;
  --font-color: white;

  --header-color: #aaa;

  --submit-btn-bg-color: #0056b3;
  --submit-btn-font-color: white;
  --cancel-btn-bg-color: #d43f3f;
  --form-border: 1px solid rgba(255, 255, 255, 0.15);
  --select-bg-color: #2a2a2a;
}

body {
    font-family: "Intel One Mono", monospace;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--font-color);
}

h1 {
    margin: 10px;
}